<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Список новостей -->
{% block title %}
Публикации
{% endblock title %}
{% load custom_tags %}
{% load custom_filters %}


<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все публикации ({{ posts_list|length }})</h1>
на {% current_time '%d.%m.%Y' %}
<hr>
{% if posts_list %}
       <table border="1" width="100%">
           <thead>
           <tr>
               <th>Заголовок</th>
               <th>Дата публикации</th>
               <th>Содержание</th>
               <th>Рейтинг</th>
               {% if perms.news.change_post or perms.news.delete_post %}
               <th>Действия</th>
               {% endif %}
           </tr>
           </thead>
           <tbody>
           {% for post in posts_list %}
           <tr>
               <td>{{post.title|censor}}</td>
               <td>{{post.created_dt|date:'d.m.Y'}}</td>
               <td>
                   <a href="/news/{{post.id}}/">{{post.content|censor|truncatechars:20}}</a>
               </td>
               <td>{{post.rating}}</td>
               {% if perms.news.change_post or perms.news.delete_post %}
               <td>
                   {% if perms.news.change_post %}
                   [<a href="/{{post.kind_eng_readable}}/{{post.id}}/edit">Изменить</a>]
                   {% endif %}

                   {% if perms.news.delete_post %}
                   [<a href="/{{post.kind_eng_readable}}/{{post.id}}/delete">Удалить</a>]
                   {% endif %}
               </td>
               {% endif %}
           </tr>
           {% endfor %}
           </tbody>
       </table>
<hr>
Страницы:
{% if page_obj.has_previous %}
   <a href="?{% url_replace page=1 %}">1</a>
   {% if page_obj.previous_page_number != 1 %}
       ...
       <a href="?{% url_replace page=page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a>
   {% endif %}
{% endif %}

{{ page_obj.number }}

{% if page_obj.has_next %}
   <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
   {% if paginator.num_pages != page_obj.next_page_number %}
       ...
       <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
   {% endif %}
{% endif %}


{% else %}
<h2>Публикаций нет</h2>
{% endif %}

{% if perms.news.add_post %}
<hr>
[<a href="/news{% url 'post_create' %}">Добавить новость</a>] | [<a href="/articles{% url 'post_create' %}">Добавить статью</a>]
{% endif %}

{% endblock content %}