<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Список новостей -->
{% block title %}
Публикации
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Все публикации ({{ posts_list|length }})</h1>
{% if posts_list %}
       <table>
           <thead>
           <tr>
               <th>Заголовок</th>
               <th>Дата публикации</th>
               <th>Содержание</th>
           </tr>
           </thead>
           <tbody>
           {% for post in posts_list %}
           <tr>
               <td>{{post.title}}</td>
               <td>{{post.created_dt|date:'d.m.Y'}}</td>
               <td><a href="/posts/{{post.id}}/">{{post.content|truncatewords:20}}</a></td>
           </tr>
           {% endfor %}
           </tbody>
       </table>
{% else %}
<h2>Публикаций нет</h2>
{% endif %}
{% endblock content %}