<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Сообщение -->
{% block title %}
Публикация
{% endblock title %}

<!-- В контенте на странице мы выводим сам пост, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ post.title }}</h1>
<h3>Дата публикации: {{ post.created_dt|date:'d.m.Y' }}</h3>
<div>
    {{ post.content }}
</div>
<a href="/posts/">К списку публикаций</a>
{% endblock content %}

