<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% block title %}
Поиск публикаций
{% endblock title %}
{% load custom_tags %}
{% load custom_filters %}


<!-- В контенте на странице мы выводим найденные публикации -->
{% block content %}
<h1>Форма поиска публикаций</h1>
<form action="" method="get">
   {{ filterset.form.as_p }}
   <input type="submit" value="Найти" />
</form>

{{get}}

{% if active_filters_quantity %}
    <hr>
    {% if posts_list %}
       <h2>Найденные публикации ({{ posts_list|length }})</h2>
       на {% current_time '%d.%m.%Y' %}
       <table>
           <thead>
           <tr>
               <th>Заголовок</th>
               <th>Дата публикации</th>
               <th>Содержание</th>
               <th>Рейтинг</th>
           </tr>
           </thead>
           <tbody>
           {% for post in posts_list %}
           <tr>
               <td>{{post.title|censor}}</td>
               <td>{{post.created_dt|date:'d.m.Y'}}</td>
               <td><a href="/news/{{post.id}}/">{{post.content|censor|truncatechars:20}}</a></td>
               <td>{{post.rating}}</td>
           </tr>
           {% endfor %}
           </tbody>
       </table>

        {% if page_obj.has_previous %}
           <a href="?{% url_replace page=1 %}">1</a>
           {% if page_obj.previous_page_number != 1 %}
               ...
               <a href="?{% url_replace page=page_obj.previous_page_number%}">{{ page_obj.previous_page_number }}</a>
           {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
           <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
        {% endif %}

    {% else %}
    <h2>Не найдены публикации, соответствующие запросу</h2>
    {% endif %}
{% endif %}




{% endblock content %}